{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Page Not found" %}{% endblock %}

{% block page_title %}{% trans "Page Not found" %}{% endblock page_title %}

{% block content-body %}

  <div class="page-header">
    <div class="col-md-12 column">
      <h1>{% trans "Those aren't the droids that you are looking for ..." %}</h1>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 column">
      <h2>{% trans "Maybe you want to try:" %}</h2>
    </div>
  </div>
  
  <div class="row clearfix">
    <div class="col-md-6 column">
       <ul>
         <li><a href="{% url "mixture_list" %}">{% trans "Go back to mixture list page." %}</a></li>
         <li><a href="{% url "home" %}">{% trans "Go back to Home page." %}</a></li>
         <li><a href="{% url "search" %}">{% trans "Search an item in the site." %}</a></li>
       </ul>
    </div>
  </div>

{% endblock content-body %}
