{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block content-body %}

  <div class="row clearfix">
    <div class="col-md-12 column">
       <div class="page-header">
         <h1><small>{% trans "Mixtures on category" %}</small> {% trans category.name %}</h1>
      </div>
    </div>
  </div>

  {% for mixture in mixture_list %}
    <div class="row clearfix">
      <div class="col-md-12 column">
        <a href="{% url "mixture_slug" mixture.slug %}">{% trans mixture.name %}</a>
        <p>{% trans mixture.short_description %}</p>
      </div>
    </div>
  {% endfor %}

{% endblock content-body %}
