{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block content-body %}

  <ul class="breadcrumb">
    <li>
      <a href="{% url "index" %}">{% trans "Home" %}</a> <span class="divider"></span>
    </li>
    <li class="active">{% trans "All categories" %}</li>
  </ul>

  <div class="page-header">
    <h1>{% trans "All categories" %}</h1>
  </div>

  {% if category_list %}
    {% for category_tree in category_list %}
      <ul class="breadcrumb">
        {% for category in category_tree %}  
          {% if forloop.last %}
            <li class="active">
              <a href="{% url "category_detail_slug" category.slug %}">
                {% trans category.name %}
              </a>
            </li>
          {% else %}
            <li>
              {% trans category.name %} <span class="divider"></span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}

{% endblock content-body %}
