{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block content-body %}

  {% if category_list %}
    {% for category_tree in category_list %}
      <div class="row clearfix">
        <div class="col-md-12 column">
          <ul class="breadcrumb">
            {% for category in category_tree %}  
              {% if forloop.last %}
                <li class="active">
                  <a href="{% url "category_detail_slug" category.slug %}">
                    {% trans category.name %}
                  </a>
                </li>
              {% else %}
                <li>
                  {% trans category.name %} <span class="divider"></span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock content-body %}
