{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block content-body %}

  <ul class="breadcrumb">
    <li>
      <a href="{% url "home" %}">{% trans "Home" %}</a> <span class="divider"></span>
    </li>
    <li class="active">{% trans "All categories" %}</li>
  </ul>

  <div class="page-header">
    <h1>{% trans "All categories" %}</h1>
  </div>

  {% if object_list %}
    <div class="divider"></div>
    {% for category in object_list %}
      <div class="row clearfix">
        <div class="col-md-10 column">
          <h3>
            <a href="{% url "category_detail" category.id category.slug %}">
              <span class="glyphicon glyphicon-tag"></span>
              {% trans category.name %}
            </a>
          </h3>
          <p>{% trans category.description %}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock content-body %}
