{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans object.name %}{% endblock title %}

{% block extra_css %}
  <link href="{% static 'css/mixture.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content-body %}
  {% if category_tree %}
    <ul class="breadcrumb slim-breadcrumb">
      <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
      <li>
        <a href="{% url "category_list" %}">{% trans "All categories" %}</a> <span class="divider"></span>
      </li>

      {% for category in category_tree %}  
        <li>
          <a href="{% url "category_detail_slug" category.slug %}">
            {% trans category.name %}
          </a>
          <span class="divider"></span>
        </li>
      {% endfor %}

      <li class="active">{% trans object.name %}</li>
    </ul>
  {% endif %}

  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          <small>{% trans "Mixture" %} #{{ object.id }}</small>
          {% trans object.name %}
        </h1>
      </div>
    </div>
  </div>

  {% if object.images %}
    <div class="row">
      {% for image in object.images.all %}
        <div class="col-xs-6 col-md-1">
          {% thumbnail image.image "150x150" crop="center" as im %}
            <a href="#launch{{ image.id }}" class="thumbnail" data-toggle="modal">
              <img alt="{% trans image.alt %}" src="{{ im.url }}" />
            </a>
          {% endthumbnail %}
        </div>
      {% endfor %}
    </div>

    {% for image in object.images.all %}
      <div id="launch{{ image.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="image-{{ image.id }}-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            {% comment %}
              <div class="modal-header">
              </div>
              <div class="modal-body">
            {% endcomment %}
              {% thumbnail image.image "500x500" crop="center" as im %}
                <img alt="{% trans image.alt %}" src="{{ im.url }}" />
              {% endthumbnail %}
            {% comment %}
              </div>
              <div class="modal-footer">
              </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row clearfix">
    <div class="col-md-4 column">
      <div class="thumbnail">
      {% with object.images.random_outstanding_image as mixture_image %}
        {% thumbnail mixture_image.image "350x350" crop="center" as im %}
          <img alt="{% trans mixture_image.alt %}" src="{{ im.url }}">
        {% endthumbnail %}
      {% endwith %}
    </div>
    </div>
    <div class="col-md-12 column">
      <p>{% trans object.long_description %}</p>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 column">
      {% if not object.materials.all and not object.steps.all %}
        <p>{% trans "This mixture does not have a recipe." %}</p>
      {% else %}
        <h3>
          <span class="glyphicon glyphicon-list-alt"></span>
          {% trans "Recipe" %}
        </h3>

        {% if object.materials.all %}
          <div class="col-md-4 column">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center">{% trans "Item" %}</th>
                  <th class="text-center">{% trans "Amount" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for material in object.materials.all %}
                  <tr>
                    <td class="text-center">{% trans material.item %}</td>
                    <td class="text-center">{% trans material.amount %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        {% if object.steps.all %}
          <div class="col-md-8 column">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">{% trans "Steps" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for step in object.steps.all %}
                  <tr>
                    <td>{% trans step.description %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <hr />

  <h1 class="separated text-center">
    <span class="glyphicon glyphicon-send"></span>
    {% trans "Want contact the author? Or want to buy?" %}
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </h1>

  <div class="row clearfix">
    <div class="col-md-12 column">
      <p>{% trans "Send a message to this mixture's author about your opinion about it. You want to buy this work? No problem! Send him a message to put his hands to work for you!" %}</p>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-6 col-md-offset-3">
      {% include "contact_form/_contact_form.html" %}
    </div>
  </div>
{% endblock content-body %}

{% block extra_js %}
<script src="{% static 'js/holder.js' %}"></script>
{% endblock extra_js %}
