{% extends "base.html" %}
{% load staticfiles thumbnail i18n %}

{% block title %}{% trans object.name %}{% endblock title %}

{% block extra_css %}
  <link href="{% static 'css/mixture.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content-body %}
  {% if category_tree %}
    <ul class="breadcrumb">
      <li><a href="{% url "index" %}">{% trans "Home" %}</a></li>
      <li>
        <a href="{% url "category_list" %}">{% trans "All categories" %}</a> <span class="divider"></span>
      </li>

      {% for category in category_tree %}  
        <li>
          <a href="{% url "category_detail_slug" category.slug %}">
            {% trans category.name %}
          </a>
          <span class="divider"></span>
        </li>
      {% endfor %}

      <li class="active">{% trans object.name %}</li>
    </ul>
  {% endif %}

  <div class="page-header">
    <h1><small>{% trans "Mixture" %} #{{ object.id }}</small> {% trans object.name %}</h1>
  </div>

  {% if object.images %}
    <div class="row">
      {% for image in object.images.all %}
        <div class="col-xs-6 col-md-1">
          {% thumbnail image.image "150x150" crop="center" as im %}
            <a href="#launch{{ image.id }}" class="thumbnail" data-toggle="modal">
              <img alt="{% trans image.alt %}" src="{{ im.url }}" />
            </a>
          {% endthumbnail %}
        </div>
      {% endfor %}
    </div>

    {% for image in object.images.all %}
      <div id="launch{{ image.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="image-{{ image.id }}-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            {% comment %}
              <div class="modal-header">
              </div>
              <div class="modal-body">
            {% endcomment %}
              {% thumbnail image.image "500x500" crop="center" as im %}
                <img alt="{% trans image.alt %}" src="{{ im.url }}" />
              {% endthumbnail %}
            {% comment %}
              </div>
              <div class="modal-footer">
              </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row clearfix">
    <p>{% trans object.long_description %}</p>
  </div>

  <div class="row clearfix">
    {% if object.recipes.all %}
      <div class="col-md-4 column">
          <div><h1>{% trans "Recipe" %}</h1></div>
        <dl>
          {% for recipe in object.recipes.all %}
            <dt>{% trans recipe.item %}</dt>
            <dd>{% trans recipe.amount %}</dd>
          {% endfor %}
        </dl>
      </div>
    {% endif %}
  </div>

  {% comment %}
    <div class="row clearfix">
      <div class="col-md-8 column">
        <img alt="The author name" src="http://lorempixel.com/100/100/" class="img-circle" />
        <p>User profile and description</p>
        <button type="button" class="btn btn-default">Send me an email</button>
      </div>
    </div>
  {% endcomment %}
{% endblock content-body %}

{% block extra_js %}
<script src="{% static 'js/holder.js' %}"></script>
{% endblock extra_js %}
