# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Collected static files
assets

# User media files
media

# Translation compiled files
*.mo

# Test coverage meta-data
.coverage
htmlcov
